1_AutoStart: True
1_Az_Gear_Ratio: 663.5
1_Alt_Gear_Ratio: 1572
1_Alt_Gear: Left
1_Az_Direction: A
1_Current_Limit: .5
1_azVelocity: 35000
1_altVelocity: 30000
1_SlewSpeedSlow: 50
1_SlewSpeedMed: 5
1_Backlash: 2
1_flip_AltF: 
1_flip_AltS: checked
1_flip_AzF: 
1_flip_AzS: checked
2_AutoStart: False
2_Az_Gear_Ratio: 1350
2_Alt_Gear_Ratio: 1350
2_Alt_Gear: Left
2_Az_Direction: A
2_Current_Limit: .5
2_azVelocity: 40000
2_altVelocity: 40000
2_SlewSpeedSlow: 40
2_SlewSpeedMed: 3
2_Backlash: 2
2_flip_AltF: checked
2_flip_AltS: 
2_flip_AzF: checked
2_flip_AzS: 
