1_AutoStart: True
1_Az_Gear_Ratio: 552
1_Alt_Gear_Ratio: 972
1_Alt_Gear: Right
1_Az_Direction: B
1_Current_Limit: .5
1_azVelocity: 23000
1_altVelocity: 20000
1_SlewSpeedSlow: 40
1_SlewSpeedMed: 3
1_Backlash: 3
1_flip_AltF: 
1_flip_AltS: checked
1_flip_AzF: 
1_flip_AzS: checked
2_AutoStart: False
2_Az_Gear_Ratio: 1350
2_Alt_Gear_Ratio: 1350
2_Alt_Gear: Left
2_Az_Direction: A
2_Current_Limit: .5
2_azVelocity: 40000
2_altVelocity: 40000
2_SlewSpeedSlow: 40
2_SlewSpeedMed: 3
2_Backlash:2
2_flip_AltF: 
2_flip_AltS: 
2_flip_AzF: 
2_flip_AzS: 
